@import url('_variables.css');

/* ------------------------------ *\
 * peachcloud.css
 *
 * Index
 * - ALIGNMENT
 * - BODY
 * - BUTTONS
 * - CARDS
 * - CIRCLES
 * - DEGREES
 * - GRIDS
 * - HTML
 * - FLASH MESSAGE
 * - FONTS
 * - ICONS
 * - INPUTS
 * - LABELS
 * - LINKS
 * - LISTS
 * - MAIN
 * - NAVIGATION
 * - RADIAL MENU
 * - SWITCHES / SLIDERS
 * - PARAGRAPHS
 *
\* ------------------------------ */

/*
 * ALIGNMENT
 */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.center-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.push-right {
    margin-left: auto;
}

/*
 * BODY
 */

body {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*
 * BUTTONS
 */

.button {
    background-color: var(--moon-gray);
    border: 1px solid var(--near-black);
    color: var(--near-black);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size-5);
    font-family: var(--sans-serif);
    min-width: 50px;
    max-width: 200px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
 * CARDS
 */

/* mobile styling for card */
.card {
    background-color: var(--near-white);
    border-radius: var(--border-radius-4);
    width: 90vw;
    position: relative;
    box-shadow: var(--box-shadow-3);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 350px) {
    .card {
        min-height: 50vh;
        max-height: 90vh;
        width: var(--max-width-5);
    }
}

.card-container {
    padding: 1.5rem;
}

.card-text {
    margin: 0;
    font-size: var(--font-size-5);
    padding-bottom: 0.3rem;
    padding-right: 1rem;
}

/*
 * CIRCLES
 */

.circle {
    border-radius: 50%;
    box-shadow: var(--box-shadow-3);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 25% 0;
    position: relative;
    width: 50%;
    height: 0;
}

.circle-success {
    background-color: var(--color-success);
    color: var(--white);
    font-size: var(--font-size-4);
}

.circle-warning {
    background-color: var(--color-warning);
    color: var(--white);
    font-size: var(--font-size-4);
}

.circle-error {
    background-color: var(--color-failure);
    color: var(--white);
    font-size: var(--font-size-4);
}

/* quartered-circle: circle for the center of radial-menu */

.quartered-circle {
    width: 100px;
    height: 100px;
}
    
.quarter {
    width: 50%;
    height: 50%;
}

.quarter-link {
    left: 50%;
    margin: -2em;
    top: 50%;
}

.quarter-icon {
    position: absolute;
    bottom: 1em;
    left: 1.5em;
}

.top-left {
    position: relative;
    border-top-left-radius: 100%;
    background: #09f;
    float: left;
    box-shadow: var(--box-shadow-2);
}

.top-right {
    position: relative;
    border-top-right-radius: 100%;
    background: #666;
    float: right;
    box-shadow: var(--box-shadow-2);
}

.bottom-left {
    position: relative;
    border-bottom-left-radius: 100%;
    background: #aaa;
    float: left;
    box-shadow: var(--box-shadow-2);
    bottom: 0;
}

.bottom-right{
    position: relative;
    border-bottom-right-radius: 100%;
    background: #333;
    float: right;
    right: 0;
    bottom: 0;
}

/*
 * DEGREES
 */

/* degree-x: positions around the radial menu (used to position menu icons)
/* 12em = half the width of the radial menu (wrapper) */
.degree-0 {
    transform: translate(12em);
}

.degree-45 {
    transform: rotate(45deg) translate(12em) rotate(-45deg);
}

.degree-90 {
    transform: rotate(90deg) translate(12em) rotate(-90deg);
}

.degree-135 {
    transform: rotate(135deg) translate(12em) rotate(-135deg);
}

.degree-180 {
    transform: translate(-12em);
}

.degree-225 {
    transform: rotate(225deg) translate(12em) rotate(-225deg);
}

.degree-270 {
    transform: rotate(270deg) translate(12em) rotate(-270deg);
}

.degree-315 {
    transform: rotate(315deg) translate(12em) rotate(-315deg);
}

/*
 * GRIDS
 */

.flex-grid {
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
}

/* .card-grid-two { */
.two-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 100%;
}

/* .card-grid-three { */
.three-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* .card-grid-vert { */
.stack {
    display: grid;
    align-items: flex-end;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

/* grid-three-icon-1 { */
.three-grid-icon-1 {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

/* .grid-three-icon-2 { */
.three-grid-icon-2 {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

/* .grid-three-icon-3 { */
.three-grid-icon-3 {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

/* .grid-three-label-1 { */
.three-grid-label-1 {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

/* .grid-three-label-2 { */
.three-grid-label-2 {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

/* .grid-three-label-3 { */
.three-grid-label-3 {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

.grid-column-1 {
    grid-column: 1;
}

.grid-column-2 {
    grid-column: 2;
    justify-self: left;
}

.grid-column-3 {
    grid-column: 3;
}

/*
 * HTML
 */

html {
    height: 100%;
}

/*
 * FLASH MESSAGE
 */

.flash-message {
    display: block;
    font-family: var(--sans-serif);
    font-size: var(--font-size-7);
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

/*
 * FONTS
 */

.font-near-black {
    color: var(--near-black);
}

.font-gray {
    color: var(--gray);
}

.font-light-gray {
    color: var(--silver);
}

.font-success {
    color: var(--color-success);
}

.font-warning {
    color: var(--color-warning);
}

.font-failure {
    color: var(--color-failure);
}

/*
 * ICONS
 */

.icon {
    width: 3rem;
}

.icon-small {
    width: 1rem;
}

.icon-medium {
    width: 2rem;
}

.icon-large {
    width: 3rem;
}

.icon-100 {
    width: 100%;
}

/* icon-active: sets color of icon svg to near-black */
.icon-active {
    filter: invert(0%) sepia(1%) saturate(4171%) hue-rotate(79deg) brightness(86%) contrast(87%);
}

/* icon-inactive: sets color of icon svg to gray */
.icon-inactive {
    filter: invert(72%) sepia(8%) saturate(14%) hue-rotate(316deg) brightness(93%) contrast(92%);
}

/*
 * INPUTS
 */

.input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 5px;
    line-height: 1.5rem;
    width: 85%;
}

/*
 * LABELS
 */

.label-small {
    font-family: var(--sans-serif);
    font-size: var(--font-size-7);
    display: block;
}

.label-medium {
    font-size: var(--font-size-3);
    display: block;
}

.label-large {
    font-size: var(--font-size-2);
    display: block;
}

/*
 * LINKS
 */

.link {
    text-decoration: none;
    color: var(--font-near-black);
}

/*
 * LISTS
 */

.list {
    padding-left: 0;
    margin-left: 0;
    max-width: var(--max-width-6);
    border: 1px solid var(--light-silver);
    border-radius: var(--border-radius-2);
    list-style-type: none;
    font-family: var(--sans-serif);
}

.list-container {
    padding: 1em;
}

.list-item {
    display: grid;
    padding: 1rem;
    border-bottom-color: var(--light-silver);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.list-icon {
    align-self: center;
    justify-self: right;
    grid-column: 2;
    grid-row: 1/3;
}

.list-text {
    justify-self: left;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: var(--font-size-5);
}

.list-label {
    justify-self: left;
    grid-column: 1;
    grid-row: 2;
}

/*
 * MAIN
 */

main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

/*
 * NAVIGATION
 */

.nav-bar {
    background-color: var(--moon-gray);
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-icon {
    width: auto;
    height: 90%;
    cursor: pointer;
}

.nav-icon-left {
    float: left;
    padding-left: 10px;
}

.nav-icon-right {
    float: right;
    padding-right: 10px;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
}

/*
 * RADIAL MENU
 */

/* radial-menu: a circular menu container */
.radial-menu {
    border-radius: 50%;
    height: 24em;
    margin: 1.75em auto 0;
    padding: 4em;
    position: relative;
    width: 24em;
}

.radial-link-position {
    height: 4em;
    left: 50%;
    margin: -2em;
    position: absolute;
    top: 50%;
    width: 4em;
}

/* radial-circle: circle for radial-menu links */
.radial-circle {
    align-items: center;
    background-color: var(--near-white);
    border-radius: 50%;
    box-shadow: var(--box-shadow-3);
    display: flex;
    height: 4em;
    left: 50%;
    margin: -2em;
    position: absolute;
    top: 50%;
    width: 4em;
}

.radial-center-circle {
    height: 45%;
    position: absolute;
    top: 50%;
    width: 45%;
}

/*
 * SWITCHES / SLIDERS
 */

/* switch: the box around the slider */
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

/* hide default HTML checkbox */
.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch-icon-left {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.switch-icon-right {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

.slider {
    background-color: var(--moon-gray);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    -webkit-transition: .4s;
}

.slider:before {
    background-color: var(--white);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    -webkit-transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: var(--near-black);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--near-black);
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*
 * TITLES
 */

.title-medium {
    font-size: var(--font-size-4);
    font-family: var(--sans-serif);
    max-width: var(--max-width-6);
}

/*
 * PARAGRAPHS
 */

p {
    font-family: var(--sans-serif);
    overflow-wrap: anywhere;
}

input {
    padding: 0;
    margin: 0;
}
