{%- extends "nav" -%}
{%- block card %}
        <div class="card">
            <div class="card-container">
                <h1 class="bold center-text title-medium">404: Page Not Found</h1>
                <p>No PeachCloud resource exists for this URL.</p>
                <p>Click the PeachCloud logo in the top-left of your screen to return to Home.</p>
            </div>
        </div>
{%- endblock -%}
