<!DOCTYPE html>

<html lang="en">
  <title>PeachCloud: Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.min.css">
  <header class="pa4 bg-near-black">
    <img src="peach-icon.png" class="w3 fl pa2" />
  </header>
  <body class="bg-near-black">
    <div class="flex items-center">
      <div class="pa3 mr2 br-100 h4 w4 bg-green ba b--moon-gray">oi</div>
    </div>
  </body>
  <footer class="bg-near-black">
  </footer>
</html>
