<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PeachCloud: Network List</title>
        <meta name="description" content="PeachCloud Network">
        <meta name="author" content="glyph">
        <link rel="stylesheet" href="/css/peachcloud.css">
        <style>@import url("/css/_variables.css");</style>
        <script src="/js/network.js"></script>
    </head>
    <body style="background-color: var(--near-black);">
        <!-- Titled list -->
        <div class="card center">
            <div class="center list-container">
                <h1 class="bold title-medium">WiFi Networks</h1>
                <ul class="list">
                {% if wlan_scan %}
                    {% for network in wlan_scan %}
                        <li class="list-item">{{ network }}</li>
                    {% endfor %}
                {% else %}
                    <li class="list-item">No networks found</li>
                {% endif %}
                </ul>
            </div>
        </div>
    </body>
</html>
